@charset "utf-8";
/* CSS Document */

.header{
	width:980px;
	margin-left:auto;
	margin-right:auto;
	background: url(./images/top_pic05.jpg) no-repeat;
	height:250px;}
.top1{
	width:980px;
	padding-top:8px;
	height:47px;
	}
.top1_1{
	float:left;}
.top1_2{
	float:left;
	line-height:47px;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	width:300px;
	border-left:#fff 1px solid;
	padding-left:10px;}
.top1_3{
	float:right;
	width:400px;
	height:50px;
	margin-top: 15px;
	}
.top1_3 li{
	line-height:47px;
	float:left;}
.top1_3 li a{
	font-size: 18px;
	color:#fff;}
.sr{
	background:#066a72;
	height:20px;
	float:left;
	width:120px;
	border:0px;
  	line-height:20px;
  color:#FFF;

}
.tj{
	width:20px;
	border:0px;
	height:20px;
	float:right;}
.banner{
	margin-top:25px;
	background-color:#015B5B;
}

.periodical_img {
	height:60px;
	line-height:60px;
	width:98px;
	text-align:center;
	float:left;
}
.periodical_img ul{
 display:none;
}
.periodical_img_on ul li{
 background-color:#fff;
        border-top: 1px #ccc solid;
}
.periodical_img_on ul li:hover{
        background-color:#015d5d;
}
.periodical_img_on ul li a:hover{
color:#fff;
}

.periodical_img a {
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
.periodical_img_on {
	background:#FFF;
	height:27px;
	line-height:27px;
	width:98px;
	text-align:center;
	float:left;
}
.periodical_img_on a {
	font-size:14px;
	font-weight:bold;
	color:#066a72;
}
.dt{
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}

