
.banner{
    margin-top: 45px;
    background-color: #066a72;
}

.ml2 img{
    width: 980px;
}

.ml2{
    margin-left: -210px;
}

.mn_right{
    float:left;
}

.mr4{
    margin-bottom: 18px;
}

.main{

    margin-top: 60px;

}

.mn_left{

    margin-left: 22px;

}


